{% extends 'base.html' %}
{% block title %}Клиенты{% endblock title %}


{% block content %}
    <h2>Клиенты</h2>

  <table class="table">
      <tr class="table-secondary">
          <th>Имя</th>
          <th>Категория</th>
          <th>Регион</th>
          <th>Город</th>
          <th>Телефон</th>
      </tr>

  {% for client in object_list %}
  <tr>
        <td>{{ client.name }}</td>
        <td>{{ client.category }}</td>
        <td>{{ client.region }} </td>
        <td>{{ client.city }} </td>
        <td>{{ client.phone }} </td>
  </tr>
  {% endfor %}

</table>
<p><a class="btn btn-info" href="{% url 'client_new' %}" role="button">Add client</a></p>
{% endblock content %}